<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="modern" ng-app="appEngine"> <!--<![endif]-->
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App Notes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/lib/lib.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/lib.js"></script>
    <script src="js/main.js"></script>
</head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<!-- NAVIGATION -->
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="navbar-header">
						<a class="navbar-brand" ui-sref="notes" ng-bind="'app.title' | translate"></a>
					</div>
					<ul class="nav navbar-nav">
						<li><a ui-sref="notes" ng-bind="'notes.menu.notes' | translate"></a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'langs.switch' | translate}} <span class="caret"></span></a>
							<ul class="dropdown-menu" ng-controller="App.Lang.LangController">
								<li><a href="#" ng-click="changeLanguage('cs')">CZ</a></li>
								<li><a href="#" ng-click="changeLanguage('en')">EN</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="container" ui-view>
		
	</div>
	
	<script src="//localhost:35729/livereload.js"></script>	
</body>
</html>
