<div class="row">
	<div class="col-xs-12">
		<h1>
			<span ng-bind="'notes.update.title' | translate"></span>
			<span>{{ntsEditController.noteId}}</span>
		</h1>
		
		<form class="form-inline">
			<div class="form-group">
				<label for="edit-note" ng-bind="ntsEditController.noteId"></label>
				<input type="text" ng-model="ntsEditController.noteTitle" class="form-control" id="edit-note">
			</div>
			<button type="submit" class="btn btn-default" 
				ng-click="ntsEditController.editNote(ntsEditController.noteId)"
				ng-bind="'notes.update.buttons.update' | translate"></button>
		</form>	
	</div>
</div>