<div class="row">
	<div class="col-xs-12">
		<h1>
			<span ng-bind="'notes.detail.title' | translate"></span>
			<span>{{ntsDetailController.noteId}}</span>
		</h1>
		
		<p>
			<span ng-bind="'notes.detail.label' | translate"></span>
			<span>{{ntsDetailController.noteTitle}}</span>
		</p>
	</div>
</div>