<div class="row">
	<div class="col-xs-12">
		<h1 ng-bind="'notes.add.title' | translate"></h1>
		
		<form class="form-inline">
			<div class="form-group">
				<label for="add-note" ng-bind="'notes.add.label' | translate"></label>
				<input type="text" ng-model="ntsCreateController.noteTitle" class="form-control" id="add-note">
			</div>
			<button type="submit" class="btn btn-default" 
				ng-click="ntsCreateController.createNote()"
				ng-bind="'notes.add.buttons.add' | translate"></button>
		</form>
	</div>
</div>