<div class="row" bindonce>
	<div class="col-xs-12">
		<h1>{{ 'notes.list.notes-list' | translate }} <button class="btn btn-link" ui-sref="notes.create" title="{{ 'notes.list.links.note-add' | translate }}"><i class="fa fa-plus fa-lg"></i></button></h1>
		
		<div class="row">
			<div class="col-xs-6">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="item in ntsListController.notes">
						<button class="btn btn-link" ng-click="ntsListController.deleteNote(item.id)" title="{{ 'notes.list.links.note-delete' | translate }}"><i class="fa fa-trash"></i></button>
						<button class="btn btn-link" ui-sref="notes.edit({noteId: item.id})" title="{{ 'notes.list.links.note-update' | translate }}"><i class="fa fa-pencil"></i></button>
						<button class="btn btn-link" ui-sref="notes.detail({noteId: item.id})" title="{{ 'notes.list.links.note-detail' | translate }}"><i class="fa fa-info-circle"></i></button>
						{{item.id}}. {{item.title}}
					</li>
				</ul>
			</div>
		</div>
		<section ui-view>
			
		</section>
	</div>
</div>